<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="components/header.html"></header>
<div class="pricing-header mx-auto text-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Выражение</th>
            <th scope="col">Ваш ответ</th>
            <!--todo-->
            <!--<th scope="col">Дата</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="elem : ${userEquations}">
            <td th:if="${elem.isCorrect()}" class="table-success" th:text="${elem.showFullEquation()}"></td>
            <td th:if="${elem.isCorrect()}" class="table-success" th:text="${elem.getUserAnswer()}"></td>
            <!--<td th:if="${elem.isCorrect()}" class="table-success" th:text="todo"></td>-->
            <td th:unless="${elem.isCorrect()}" class="table-danger"th:text="${elem.showFullEquation()}"></td>
            <td th:unless="${elem.isCorrect()}" class="table-danger" th:text="${elem.getUserAnswer()}"></td>
            <!--<td th:unless="${elem.isCorrect()}" class="table-danger" th:text="todo"></td>-->
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="components/footer.html"></footer>
</body>
</html>
